body {
  background-color: #141414;
  margin: 0%;
  position: relative;
  overflow-x: hidden;
}

.imagen-superior {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.imagen-superior .descripcion {
  position: absolute;
  bottom: 70px;
  left: 4vw;
  margin-bottom: 70px;
}
.imagen-superior .descripcion .titulo-descripcion {
  color: white;
  font-family: Helvetica;
  font-weight: 900;
  font-size: 27px;
  margin-bottom: -103px;
}
.imagen-superior .descripcion .contenedor-titulos {
  color: black;
  margin-bottom: -47px;
}
.imagen-superior .descripcion .titulo-descripcion-detalada {
  color: white;
  margin-bottom: -6%;
  font-family: Helvetica;
  font-weight: 900;
  font-size: 90px;
}
.imagen-superior .descripcion .titulo-descripcion-detalada-2 {
  color: white;
  margin-top: 0%;
  font-family: Helvetica;
  font-weight: 900;
  font-size: 90px;
}
.imagen-superior .descripcion .descripcion-botones {
  margin-top: -14%;
  margin-bottom: 20px;
  align-content: center;
}
.imagen-superior .descripcion .descripcion-botones .boton-reproducir {
  color: white;
  font-family: Helvetica;
  font-weight: 900;
  font-size: 16px;
  padding: 10px 30px;
  background-color: #141414;
  border-radius: 8px;
}
.imagen-superior .descripcion .descripcion-botones .boton-reproducir .fa-play {
  color: white;
}
.imagen-superior .descripcion .descripcion-botones .boton-milista {
  color: white;
  font-family: Helvetica;
  font-weight: 900;
  font-size: 16px;
  padding: 10px 30px;
  margin-bottom: 12px;
  margin-top: 12px;
  background-color: #141414;
  border-radius: 8px;
}
.imagen-superior .descripcion .descripcion-botones .boton-milista .fa-plus {
  color: white;
}
.imagen-superior .descripcion .ver-temporada {
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 2%;
}
.imagen-superior .descripcion .descripcion-detallada-pelicula {
  color: white;
  font-family: Helvetica;
}
.imagen-superior .img-1 {
  width: 100%;
  height: 50%;
}

.barra-superior {
  overflow-x: hidden;
  background-color: black;
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
  display: inline-flex;
  margin: none;
}
.barra-superior .courflix {
  margin-right: 4px;
  margin-left: 2px;
}
.barra-superior .courflix .courflix-1 {
  height: 30px;
  margin-right: 45px;
  margin-left: 54px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.barra-superior .style-barra {
  margin-right: 18px;
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 14px;
  font-family: helvetica;
}

.barra-superior-2 {
  background-color: black;
  display: flex;
  position: absolute;
  right: 0%;
  top: -30%;
  height: 50px;
  margin-right: 0px;
}
.barra-superior-2 .style-barra-2 {
  margin-right: 18px;
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 14px;
  font-family: helvetica;
}

.titulo-barra-series {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: bottom;
  font-size: 28px;
  color: white;
  margin-left: 60px;
  margin-bottom: -13px;
}

.barra-series {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 4px;
  margin-left: 60px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
.barra-series .caja-img-series {
  display: inline-block;
  margin: none;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 253px;
  height: 100%;
  margin-right: 5px;
  transition: width 1s, height 1s;
  align-items: center;
}
.barra-series .caja-img-series .img-series {
  width: 253px;
  height: 100%;
  margin-right: 5px;
  transition: width 1s, height 1s;
  align-items: center;
}

.titulo-barra-tendencias {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: bottom;
  font-size: 28px;
  color: white;
  margin-left: 60px;
  margin-bottom: -13px;
}

.barra-tendencias {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 4px;
  margin-left: 60px;
}
.barra-tendencias .caja-img-tendencias {
  display: inline-block;
  margin: none;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 253px;
  height: 100%;
  margin-right: 5px;
  transition: width 1s, height 1s;
  align-items: center;
}
.barra-tendencias .caja-img-tendencias .img-tendencias {
  width: 100%;
  margin-right: 0px;
}

.titulo-barra-continuarviendo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: bottom;
  font-size: 28px;
  color: white;
  margin-left: 60px;
  margin-bottom: -13px;
}

.barra-continuarviendo {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 4px;
  margin-left: 60px;
  overflow: hidden;
}
.barra-continuarviendo .caja-img-continuarviendo {
  display: inline-block;
  margin: none;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 253px;
  height: 100%;
  margin-right: 5px;
  transition: width 1s, height 1s;
  align-items: center;
}
.barra-continuarviendo .caja-img-continuarviendo .img-continuarviendo {
  width: 100%;
  margin-right: 0px;
}

a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  color: none;
}

.style-a {
  color: white;
  margin-right: 18px;
}

.fas {
  color: white;
}

/*# sourceMappingURL=index.css.map */
